# --- KiCad general ---
**/*.kicad_prl
**/fp-info-cache
**/*-backups/

# Dossiers de fabrication générés
**/production/

# Plugins & outils
**/fabrication-toolkit-options.json

# Cache & temporaires
**/*.bak
**/*.tmp

# Sauvegardes automatiques
**/*.kicad_sch-bak
**/*.kicad_pcb-bak

# Des fichiers logs
**/*.log

# Des fichiers de vs-code
**/*.vs-code
